RewriteEngine On

# Redirige todo excepto archivos y carpetas existentes hacia routes/routes_handle.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ routes/routes_handle.php?url=$1 [QSA,L]
